.gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 53vw;
  height: 73vh;
  background-color: #161616;
  border: 2px solid #454545;
  border-radius: 10px;
  padding: 15px;
}

.gameImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* .gameNameText {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 500;
  font-size: 27px;
  color: white;
  margin: 0;
} */

.orderContainer {
  display: flex;
  gap: 10px;
  padding-top: 10px;
  align-items: center;
}

.orderParams {
  display: flex;
  width: 70px;
  height: 27px;
  background-color: #2b1734;
  border: 2px solid #7921d1;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
}

@media (max-width: 768px) {
  .gameContainer {
    background-image: linear-gradient(
        to bottom,
        rgba(121, 33, 209, 0.1),
        #161616
      ),
      url("/mobileProfileBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100vw;
    border: none;
    align-items: center;
  }

  .gameImage {
    display: none;
  }
}
