.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding-left: 100px;
  padding-right: 100px;
  align-items: center;
  background-color: #161616;
  box-sizing: border-box;
}

.boxLogo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .boxLogo {
    top: 5px;
    left: 10%;
  }
}
