.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
  width: 450px;
  box-sizing: border-box;
}

.checkingProfileText {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 500;
  font-size: 27px;
  color: white;
}

.checkingNicknameText {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: white;
  text-align: center;
  margin-bottom: 0;
}

.linkText {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
}

.acceptAccButton {
  height: 35px;
  font-size: 15px;
}

.changeAccButton {
  height: 35px;
  font-size: 15px;
  background-color: #161616;
  border: 2px solid #7921d1;
}

.changeAccButton:hover {
  background-color: #3a3939;
}

.langAndTelegramContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 295px;
  margin-top: 70px;
}

@media (max-width: 768px) {
  .profileContainer {
    width: auto;
  }
  .langAndTelegramContainer {
    width: 90vw;
    margin-top: 130px;
  }
}
