.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.backgroundImage {
  background-image: url("/pcBackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxInfo {
  background-color: #161616;
  width: 380px;
  height: 420px;
  position: absolute;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  width: 290px;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  line-height: 130%;
  letter-spacing: 0;
}

.contactSellerText {
  color: white;
  cursor: pointer;
  font-family: "SF Pro Display", sans-serif;
  transition: transform 0.1s ease, color 0.1s ease;
  display: inline-block;
  margin-top: 20px;
}

.contactSellerText:active {
  transform: scale(0.95);
  color: #7921d1;
}

.langAndTelegramContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 295px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  .backgroundImage {
    background-image: url("/mobileBackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
  }

  .title {
    margin-top: 0;
  }

  .boxInfo {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 50vh;
    position: static;
    border-radius: 0;
    box-shadow: 0px -30px 30px rgba(0, 0, 0, 0.9);
  }
}
